@page "/grns"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>GRNs</h3>

@if (GRNs == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>GRN ID</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>Stock Updated</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var grn in GRNs)
        {
            <tr>
                <td>@grn.GrnID</td>
                <td>@grn.OrderDate.ToShortDateString()</td>
                <td>@grn.DeliveryDate?.ToShortDateString()</td>
                <td>@grn.StockUpdated</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => ViewDetails(grn.GrnID)">View</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}